{% load humanize %}

<!-- Activity feed -->
<div class="mt-2 bg-gray-50 sm:pr-6">
  <div class="pl-6">
    <div class="flex items-center pt-5">
      <h2 class="flex-1 text-lg font-medium">All Activity</h2>
    </div>
    <div>
      <ul role="list" class="divide-y divide-gray-200">
        {% if reviews %}
          {% for review in reviews %}
            <li class="py-4" data-controller="stars">
              <div class="flex space-x-3">
                <div class="flex-1 space-y-1">
                  <div class="flex items-center justify-between space-x-3">
                    <p class="text-sm text-gray-500">
                      {% if review.name %}
                        {{ review.name }}
                      {% else %}
                        Someone
                      {% endif %}
                        left a
                        <span class="inline-block" data-stars-target="stars" value="{{ review.rating }}"></span>
                        <a class="font-semibold text-gray-800 underline" href="{% url 'detail-review' review.pk %}">review</a>
                        for <a class="font-semibold text-gray-800 underline" href="{% url 'detail-location' review.location.google_place_id %}">{{ review.location.name }}</a>,
                        {{ review.created|timesince }} ago.
                    </p>
                  </div>
                </div>
              </div>
            </li>
          {% endfor %}
        {% else %}
        <li class="py-4">
          <div class="flex space-x-3">
            <div class="flex-1 space-y-1">
              <div class="flex items-center justify-between space-x-3">
                <p class="text-sm text-gray-500">No Activity Yet</p>
              </div>
            </div>
          </div>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
