{% load humanize %}

<!-- Activity feed -->
<div class="px-4 mt-2 sm:px-6 lg:px-8 bg-gray-50">
  <div>
    <div class="flex items-center pt-5">
      <h2 class="flex-1 text-lg font-medium">Recent feedback</h2>
    </div>
    <div>
      <ul role="list" class="divide-y divide-gray-200">
        {% if reviews and subscription.status == "active" %}
          {% for review in reviews %}
            <li class="py-4" data-controller="stars">
              <div class="flex space-x-3">
                <div class="flex-1 space-y-1">
                  <div class="flex items-center justify-between space-x-3">
                    <p class="text-sm text-gray-500">
                      {% if review.name %}
                        {{ review.name }}
                      {% else %}
                        Someone
                      {% endif %}
                        left
                        <span class="inline-block" data-stars-target="stars" value="{{ review.rating }}"></span>
                        <a class="font-semibold text-gray-800 underline" href="{% url 'detail-review' review.pk %}">feedback</a>
                        for <a class="font-semibold text-gray-800 underline" href="{% url 'detail-location' review.location.google_place_id %}">{{ review.location.name }}</a>,
                        {{ review.created|timesince }} ago.
                    </p>
                  </div>
                </div>
              </div>
            </li>
          {% endfor %}
        {% else %}
        <li class="py-4">
          <div class="flex space-x-3">
            <div class="flex-1 space-y-1">
              <div class="flex items-center justify-between space-x-3">
                {% if not subscription.status == "active" %}
                  <p class="text-sm text-gray-500">Upgrade to Pro to see private feedback details.</p>
                {% else %}
                  <p class="text-sm text-gray-500">No feedback yet. Share a review link to start collecting responses.</p>
                {% endif %}
              </div>
            </div>
          </div>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
