<ul role="list" class="border-b border-gray-200 divide-y divide-gray-200">
  {% for location in locations %}
  <li class="relative py-5 pl-4 hover:bg-gray-50 sm:py-6 sm:pl-6 lg:pl-8 xl:pl-6">
    <div class="flex items-center justify-between space-x-4">
      <!-- Repo name and link -->
      <div class="min-w-0 space-y-3">
        <div class="flex items-center space-x-3">

          {% if location.active %}
          <span class="flex items-center justify-center w-4 h-4 bg-green-100 rounded-full" aria-hidden="true">
            <span class="w-2 h-2 bg-green-400 rounded-full"></span>
          </span>
          {% endif %}

          <h2 class="text-sm font-medium">
            <a href="{% url 'detail-location' location.google_place_id %}">
              <span class="absolute inset-0" aria-hidden="true"></span>
              {{ location.name }} <span class="sr-only">Running</span>
            </a>
          </h2>
        </div>
      </div>
      <div class="sm:hidden">
        <!-- Heroicon name: mini/chevron-right -->
        <svg class="w-5 h-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
        </svg>
      </div>
      <!-- Repo meta info -->
      <div class="flex-col items-end flex-shrink-0 hidden space-y-3 sm:flex">
        <p class="flex space-x-2 text-sm text-gray-500">
          <span class="text-sm font-medium text-gray-500 truncate group-hover:text-gray-900">{{ location.address }}</span>
        </p>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>