{% extends "dbase.html" %}
{% load static %}

{% block content %}
      <div class="bg-white lg:min-w-0 md:pt-10 lg:flex-1">
        {% include "components/confirm-email.html" with email_verified=email_verified %}
        <div class="p-4 border-t border-b border-gray-200 sm:p-6 lg:p-8 xl:border-t-0">
          <div  class="flex items-center justify-between">
            <h1 class="flex-1 pt-2 text-xl font-medium">Review links</h1>

              {% if locations|length > 0 %}
                {% if not email_verified %}
                  <div data-controller="popover">
                    <button disable data-action="mouseenter->popover#show mouseleave->popover#hide" class="relative inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-orange-300 border border-transparent rounded-md shadow-sm">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5 mr-2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                      </svg>
                      <span>Add Location</span>
                    </button>

                    <template data-popover-target="content">
                      <div data-popover-target="card" class="absolute w-full h-full bg-white border-2 border-solid rounded shadow-lg -left-16 top-12" style="bottom: 2rem; width: max-content;">
                        <div class="flex items-center justify-center w-full h-full px-8 py-4">
                          <p class="text-sm text-gray-500">Confirm your email before adding a location.</p>
                        </div>
                      </div>
                    </template>
                  </div>
                {% else %}
                  <a
                    href="{% url 'create-location' %}"
                    class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-orange-600 border border-transparent rounded-md shadow-sm hover:bg-orange-700"
                    >
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5 mr-2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                    </svg>
                    Add Location
                  </a>
              {% endif %}
            {% endif %}
          </div>
        </div>
        {% if locations %}
          {% include "pages/components/locations.html" with locations=locations %}
          {% include "pages/components/activity-feed.html" with reviews=reviews %}
        {% else %}
        <div class="my-5 text-center">
          <svg class="w-12 h-12 mx-auto text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path vector-effect="non-scaling-stroke" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 13h6m-3-3v6m-9 1V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z" />
          </svg>
          <h3 class="mt-2 text-sm font-medium text-gray-900">No review links yet</h3>
          <p class="mt-1 text-sm text-gray-500">Add your first business location to create a shareable review link.</p>
          <div class="mt-6">
            {% if not email_verified %}
            <div data-controller="popover">
              <button disable data-action="mouseenter->popover#show mouseleave->popover#hide" class="relative inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-orange-300 border border-transparent rounded-md shadow-sm">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5 mr-2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                </svg>
                <span>Add Location</span>
              </button>

              <template data-popover-target="content">
                <div data-popover-target="card" class="absolute w-full h-full bg-white border-2 border-solid rounded shadow-lg -left-16 top-12" style="bottom: 2rem; width: max-content;">
                  <div class="flex items-center justify-center w-full h-full px-8 py-4">
                    <p class="text-sm text-gray-500">Confirm your email before adding a location.</p>
                  </div>
                </div>
              </template>
            </div>
          {% else %}
            <a
              href="{% url 'create-location' %}"
              class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-orange-600 border border-transparent rounded-md shadow-sm hover:bg-orange-700"
              >
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5 mr-2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
              </svg>
              Add Location
            </a>
        {% endif %}
          </div>
        </div>
        {% endif %}
      </div>
{% endblock content %}
