{% extends "base.html" %}
{% load webpack_loader static %}

{% block meta %}
  <title>Lev Review</title>
  <meta property="og:title" content="Lev Review" />
  <meta name="twitter:title" content="Lev Review" />
  <meta name="description" content="Your business deserves the best reviews. We will help you identify unhappy customers before they give you a bad review on Google, so that you can fix their problem."/>
  <meta property="og:description" content="Your business deserves the best reviews. We will help you identify unhappy customers before they give you a bad review on Google, so that you can fix their problem."/>
  <meta name="twitter:description" content="Your business deserves the best reviews. We will help you identify unhappy customers before they give you a bad review on Google, so that you can fix their problem."/>
  <link rel="canonical" href="https://{{ request.get_host }}/" />
  <meta property="og:url" content="https://{{ request.get_host }}/" />
  <meta property="og:image" content="https://{{ request.get_host }}{% static 'vendors/favicon/logo.jpg' %}" />
  <meta name="twitter:image" content="https://{{ request.get_host }}{% static 'vendors/favicon/logo.jpg' %}" />
  <meta property="og:type" content="website" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:creator" content="@rasulkireev" />
  <meta name="twitter:site" content="@rasulkireev" />
{% endblock meta %}

{% block content %}
  {% include "pages/components/hero.html" %}
  {% include "pages/components/how-it-works.html" %}

  <div class="relative">
    <div class="absolute inset-0 flex items-center" aria-hidden="true">
      <div class="w-full border-t border-gray-300"></div>
    </div>
  </div>

  {% include "pages/components/pricing.html" %}
{% endblock content %}
