{% extends "dbase.html" %}
{% load static %}


{% block extra_top_js %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
{% endblock extra_top_js %}

{% block content %}
  <div
    data-controller="places"
    data-action="google-maps-callback@window->places#initMap"
  >
    <div style="display: none">
      <input
        data-places-target="field"
        class="controls"
        type="text"
        placeholder="Enter a location"
      />
    </div>

    <div class="flex flex-row items-center justify-center">
      <div
        id="map"
        data-places-target="map"
      ></div>
    </div>

    <div id="infowindow-content" data-places-target="info">
      <span id="place-name" class="title"></span><br />
      <strong>Place ID:</strong> <span id="place-id"></span><br />
      <span id="place-address"></span>
    </div>
  </div>


{% endblock content %}

{% block extra_bottom_js %}
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQP5jCWK4Yh-oUqxocuYiQl9FODX7cW6U&callback=initMap&libraries=places"
  async defer data-turbolinks-eval="false"></script>
{% endblock extra_bottom_js %}
