{% extends "dbase.html" %}
{% load static %}

{% block content %}
<div class="bg-white lg:min-w-0 md:pt-10 lg:flex-1">
  <div class="pt-4 pb-4 pl-4 pr-6 border-t border-b border-gray-200 sm:pl-6 lg:pl-8 xl:border-t-0 xl:pl-6 xl:pt-6">
    <div class="flex items-center justify-between">
      <h1 class="flex-1 pt-2 text-xl font-medium">Review for {{ object.location.name }}</h1>
    </div>
  </div>
  <div class="overflow-hidden bg-white">
    <div class="px-4 py-5 border-t border-gray-200 sm:p-0">
      <dl class="sm:divide-y sm:divide-gray-200">
        <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Name</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
            {% if object.name %}
              {{ object.name }}
            {% else %}
              Unknown
            {% endif %}
          </dd>
        </div>
        <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Email address</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
            {% if object.email %}
              {{ object.email }}
            {% else %}
              Unknown
            {% endif %}
          </dd>
        </div>
        <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Location</dt>
          <dd class="flex flex-col mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
            <p>{{ object.location.name }}</p>
            <p class="text-gray-700">{{ object.location.address }}</p>
          </dd>
        </div>
        <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5 sm:px-6" data-controller="stars">
          <dt class="text-sm font-medium text-gray-500">Rating</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
            <span class="inline-block" data-stars-target="stars" value="{{ review.rating }}"></span>
          </dd>
        </div>
        <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Feeback</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">{{ object.feedback }}</dd>
        </div>
      </dl>
    </div>
  </div>

</div>
{% endblock content %}
