{% load webpack_loader static %}

<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Other meta stuff -->
  <!-- ADD LOGOOOOOOOO -->
  <link rel="apple-touch-icon" href="{% static 'vendors/favicon/logo.jpg' %}" />
  <link rel="apple-touch-icon" href="{% static 'vendors/favicon/logo.jpg' %}" />
  <link rel="icon" type="image/png" sizes="16x16 32x32 500x500" href="{% static 'vendors/favicon/logo.jpg' %}"/>

  {% block meta %}
    <title>Lev Review</title>
    <meta name="description" content="Get better reviews on Google"/>
    <link rel="canonical" href="https://{{ request.get_host }}/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Lev Review" />
    <meta property="og:url" content="https://{{ request.get_host }}/" />
    <meta property="og:description" content="Get better reviews on Google"/>
    <meta property="og:image" content="https://{{ request.get_host }}{% static 'vendors/favicon/logo.jpg' %}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@rasulkireev" />
    <meta name="twitter:site" content="@rasulkireev" />
    <meta name="twitter:title" content="Lev Review" />
    <meta name="twitter:description" content="Get better reviews on Google"/>
    <meta name="twitter:image" content="https://{{ request.get_host }}{% static 'vendors/favicon/logo.jpg' %}" />
  {% endblock meta %}

  <script defer data-domain="levreview.com" src="https://plausible-v2.cr.lvtd.dev/js/script.js"></script>

  {% stylesheet_pack 'hotwire' %}
  {% javascript_pack 'hotwire' attrs='defer' %}

</head>
<body class="h-full">

  {% block content %}
  {% endblock content %}

  {% block footer %}
    {% include "components/footer.html" %}
  {% endblock footer %}

</body>
</html>
