{% load webpack_loader static %}

<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fox Review</title>

  {% stylesheet_pack 'hotwire' attrs='data-turbo-track="reload"' %}
  {% javascript_pack 'hotwire' attrs='data-turbo-track="reload" defer' %}

  {% block extra_top_js %}
  {% endblock extra_top_js %}

</head>

<body class="h-full">

  <div class="relative flex flex-col min-h-full">

    <!-- Navbar -->
    <nav class="flex-shrink-0 bg-orange-600">
      <div class="px-2 mx-auto max-w-7xl sm:px-4 lg:px-8">
        <div class="relative flex items-center justify-between h-16">
          <!-- Logo section -->
          <div class="flex items-center px-2 lg:px-0 xl:w-64">
            <div class="flex-shrink-0">
              <img class="w-auto h-8 rounded-full sm:h-10" src="{% static 'vendors/images/logo.png' %}" alt="Fox Reviews">
            </div>
          </div>

          <!-- Links section -->
          <div class="hidden lg:block lg:w-80">
            <div class="flex items-center justify-end">
              <!-- Profile dropdown -->
              <div data-controller="dropdown" class="relative flex-shrink-0 ml-4">
                <div>
                  <button
                    type="button"
                    class="flex text-sm text-white bg-orange-700 rounded-full focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-orange-700"
                    id="user-menu-button"
                    aria-expanded="false"
                    aria-haspopup="true"
                    data-action="dropdown#toggle click@window->dropdown#hide"
                  >
                    <span class="sr-only">Open user menu</span>
                    <img class="w-8 h-8 rounded-full" src="https://images.unsplash.com/photo-1517365830460-955ce3ccd263?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=256&h=256&q=80" alt="">
                  </button>
                </div>

                <div
                  class="absolute right-0 z-10 w-48 py-1 mt-2 origin-top-right bg-white rounded-md shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                  role="menu"
                  aria-orientation="vertical"
                  aria-labelledby="user-menu-button"
                  tabindex="-1"
                  data-dropdown-target="menu"
                  data-transition-enter-active="transition ease-out duration-100"
                  data-transition-enter-from="transform opacity-0 scale-95"
                  data-transition-enter-to="transform opacity-100 scale-100"
                  data-transition-leave-active="transition ease-in duration-75"
                  data-transition-leave-from="transform opacity-100 scale-100"
                  data-transition-leave-to="transform opacity-0 scale-95"
                >
                  <!-- Active: "bg-gray-100", Not Active: "" -->
                  <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-0">Your Profile</a>

                  <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-1">Settings</a>

                  <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-2">Sign out</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Mobile menu, show/hide based on menu state. -->
      <div class="lg:hidden" id="mobile-menu">
        <div class="pt-4 pb-3 border-t border-orange-800">
          <div class="px-2 space-y-1">
            <a href="#" class="block px-3 py-2 text-base font-medium text-orange-200 rounded-md hover:bg-orange-600 hover:text-orange-100">Your Profile</a>

            <a href="#" class="block px-3 py-2 text-base font-medium text-orange-200 rounded-md hover:bg-orange-600 hover:text-orange-100">Settings</a>

            <a href="#" class="block px-3 py-2 text-base font-medium text-orange-200 rounded-md hover:bg-orange-600 hover:text-orange-100">Sign out</a>
          </div>
        </div>
      </div>
    </nav>

    {% block content %}
    {% endblock content %}

  </div>

    {% block extra_bottom_js %}
    {% endblock extra_bottom_js %}
</body>
</html>