{% load webpack_loader static %}

<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Other meta stuff -->
  <!-- ADD LOGOOOOOOOO -->
  <link rel="apple-touch-icon" href="{% static 'vendors/favicon/logo.jpg' %}" />
  <link rel="apple-touch-icon" href="{% static 'vendors/favicon/logo.jpg' %}" />
  <link rel="icon" type="image/png" sizes="16x16 32x32 500x500" href="{% static 'vendors/favicon/logo.jpg' %}"/>

  <meta name="robots" content="noindex" />

  {% block meta %}
    <title>Lev Review - Dashboard</title>
  {% endblock meta %}

  {% stylesheet_pack 'hotwire' attrs='data-turbo-track="reload"' %}
  {% javascript_pack 'hotwire' attrs='data-turbo-track="reload" defer' %}

  {% block extra_top_js %}
  {% endblock extra_top_js %}

</head>

<body class="h-full">
  {% block default_messages %}
    {% include "components/messages.html" with messages=messages %}
  {% endblock default_messages %}
  <div class="relative flex flex-col min-h-full">
    <!-- 3 column wrapper -->
    <div class="flex-grow w-full max-w-6xl mx-auto lg:flex xl:px-8">
      <!-- Left sidebar & main wrapper -->
      <div class="flex-1 min-w-0 bg-white xl:flex">
        <!-- Account profile -->
        <div class="bg-white md:pt-10 xl:w-64 xl:flex-shrink-0 xl:border-r xl:border-gray-200">
          <div class="py-6 pl-4 pr-6 sm:pl-6 lg:pl-8 xl:pl-0">
            <div class="flex items-center justify-between">
              <div class="flex-1 space-y-8">
                <div class="space-y-8 sm:flex sm:items-center sm:justify-between sm:space-y-0 xl:block xl:space-y-8">
                  <!-- Action buttons -->
                  <div class="flex flex-col space-y-4 sm:flex-row xl:flex-col">
                    <a href="{% url 'dashboard' %}" class="inline-flex items-center justify-center px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-orange-500 focus:ring-offset-2 sm:mt-0 sm:ml-3 xl:ml-0 xl:mt-3 xl:w-full">
                      Home
                    </a>
                    <a href="{% url 'settings' %}" class="inline-flex items-center justify-center px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-orange-500 focus:ring-offset-2 sm:mt-0 sm:ml-3 xl:ml-0 xl:mt-3 xl:w-full">
                      Settings
                    </a>
                    <a href="{% url 'account_logout' %}" class="inline-flex items-center justify-center px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-orange-500 focus:ring-offset-2 sm:mt-0 sm:ml-3 xl:ml-0 xl:mt-3 xl:w-full">
                      Sign Out
                    </a>
                  </div>
                </div>
                <!-- Meta info -->
                <div class="flex flex-col space-y-6 sm:flex-row sm:space-y-0 sm:space-x-8 xl:flex-col xl:space-x-0 xl:space-y-6">
                  <div class="flex items-center space-x-2">
                    <!-- Heroicon name: mini/check-badge -->
                    <svg class="w-5 h-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.403 12.652a3 3 0 000-5.304 3 3 0 00-3.75-3.751 3 3 0 00-5.305 0 3 3 0 00-3.751 3.75 3 3 0 000 5.305 3 3 0 003.75 3.751 3 3 0 005.305 0 3 3 0 003.751-3.75zm-2.546-4.46a.75.75 0 00-1.214-.883l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                    </svg>
                    <span class="text-sm font-medium text-gray-500">
                      {% if not customer %}
                        Unverified
                      {% elif subscription.status == "active" %}
                        Pro
                      {% else %}
                        Free
                      {% endif %}
                      Member
                    </span>
                  </div>
                  <div class="flex items-center space-x-2">
                    <!-- Heroicon name: mini/rectangle-stack -->
                    <svg class="w-5 h-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path d="M5.127 3.502L5.25 3.5h9.5c.041 0 .082 0 .123.002A2.251 2.251 0 0012.75 2h-5.5a2.25 2.25 0 00-2.123 1.502zM1 10.25A2.25 2.25 0 013.25 8h13.5A2.25 2.25 0 0119 10.25v5.5A2.25 2.25 0 0116.75 18H3.25A2.25 2.25 0 011 15.75v-5.5zM3.25 6.5c-.04 0-.082 0-.123.002A2.25 2.25 0 015.25 5h9.5c.98 0 1.814.627 2.123 1.502a3.819 3.819 0 00-.123-.002H3.25z" />
                    </svg>
                    <span class="text-sm font-medium text-gray-500">{{ locations|length }} Location{% if locations|length > 1 or locations|length == 0 %}s{% endif %}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        {% block content %}
        {% endblock content %}

      </div>
    </div>
    {% include "components/footer.html" %}
  </div>

    {% block extra_bottom_js %}
    {% endblock extra_bottom_js %}

</body>
</html>
