{% load webpack_loader static %}
{% load static %}
{% load widget_tweaks %}

<div class="px-6 py-4">
  <div class="md:grid md:grid-cols-3 md:gap-6">
    <div class="md:col-span-1">
      <div class="px-4 sm:px-0">
        <h3 class="text-lg font-medium leading-6 text-gray-900">
          Subscription:
          <span class="text-orange-700">
            {% if not customer %}
              Unverified
            {% elif subscription.status == "active" %}
              Pro
            {% else %}
              Free
            {% endif %}
          </span>
        </h3>
        <p class="mt-1 text-sm text-gray-600">
          Here you can upgrade, cancel or change your payments information.
        </p>
      </div>
    </div>
    <div class="flex items-center px-4 mt-5 md:col-span-2 md:mt-0">
      {% if subscription.status %}
        <form method="post" action="/users/create-customer-portal-session/">
          {% csrf_token %}
          <button
            class="inline-flex items-center px-3 py-2 text-white bg-orange-600 border-2 border-transparent rounded-md hover:bg-orange-700"
            type="submit"
          >
            Manage
          </button>
        </form>
      {% else %}
        {% if not email_verified %}
        <div data-controller="popover">
          <button disable data-action="mouseenter->popover#show mouseleave->popover#hide" class="relative inline-flex items-center px-3 py-2 text-white bg-orange-300 border-2 border-transparent rounded-md">
            Upgrade
          </button>

          <template data-popover-target="content">
            <div data-popover-target="card" class="absolute w-full h-full bg-white border-2 border-solid rounded shadow-lg -left-16 top-12" style="bottom: 2rem; width: max-content;">
              <div class="flex items-center justify-center w-full h-full px-8 py-4">
                <p class="text-sm text-gray-500">Please confirm your email first.</p>
              </div>
            </div>
          </template>
        </div>
        {% else %}
          <a
            class="inline-flex items-center px-3 py-2 text-white bg-orange-600 border-2 border-transparent rounded-md hover:bg-orange-700"
            href="{% url 'checkout' %}"
          >
            Upgrade
          </a>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>

<div class="block" aria-hidden="true">
  <div class="py-5">
    <div class="border-t border-gray-200"></div>
  </div>
</div>
